@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hiding */
body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
